<p>Thank you for your generous support. We will be in contact as required and expect there to being an ongoing need for our services.</p>

<p>Luke Williams, Lynne Fitzsimmons and the <%= link_to 'fun4paws', 'http://www.fun4paws.com.au/' %> team</p>