<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>fun4paws volunteer map</title>
  <style type="text/css">
    v\:* {behavior:url(#default#VML);}
    html, body {width: 100%; height: 100%}
    body {margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px}
  </style>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAC7LDoM1owmUzuDy0v9kzUBTsD2SUe23eQJWOpzD6T6CTR-38LhTBzQ48ZMrT3aAo1yLV_A_WfGpIMQ"
  type="text/javascript"></script>

  </head>
  <body>
    <div id="map" style="width: 100%; height: 100%;"></div>
    <div style="top:45px; right:45px; position:absolute; background-color:white; border:2px solid black; text-align: center; padding: 5px;">
    	<strong>fun4paws volunteer map</strong>
<h2>Total <%= @volunteers.size %></h2>

			fun4paws admins only!<br/>

			<center>
				<a href="/volunteers"><b>Back to main site</b></a>
			</center>
    </div>
<%= render :partial => 'map_points' %>
<%= javascript_include_tag 'gmaps' %>

  </body>
</html>