%table.listing
  - @animals.each do |animal|
    %tr
      %td= render :partial => '/shared/object_listing', :locals => {:o => animal}
      %td= animal.placement_status
      %td
      - if animal.placement_status == 'seeking_carer'
        = request_status(animal.current_placement)