%table.listing
  - @animals.each do |animal|
    %tr
      %td= object_listing(animal)
      %td= animal.placement_status
      %td
      - if animal.placement_status == 'seeking_carer'
        = request_status(animal.current_placement)