%table
  %tr
    %th Animal
    %th Kind
    %th Status
    %th Carer invitations

  - @animals.each do |animal|
    %tr
      %td= animal_icon(animal)
      %td= animal.kind
      %td= animal.placement_status
      %td
      - if animal.placement_status == 'seeking_carer'
        = request_status(animal.current_placement)