%h1 Placements

= link_to 'Create new placement', new_admin_placement_path

%table
  %tr
    %th
      Animal ID
  - for placement in @placements    
    %tr.volunteer
      %td
        =h placement.animal_id
      %td
        = link_to 'Destroy', volunteer, :confirm => 'Are you sure?', :method => :delete if params[:d]
        
= link_to 'Create new placement', new_admin_placement_path

