- form_for([:admin, @placement]) do |f|
  = f.error_messages
  %fieldset
    %legend Personal details
    = f.text_field_row :animal_id
    
    = f.select :experience_level, Volunteer::EXPERIENCE_LEVELS
    
  = f.submit "update"
