<legend>Terms and Conditions</legend>
	
<p>I understand that the animal remains the property of LSAH while under my care.</p>

<p>I agree to keep and care for the animal as instructed by the vet or foster care supervisor.</p>

<p>I understand that foster animals may cause damage to property and will not hold Lort Smith responsible for this should it occur.</p>

<p>I agree to allow a LSAH representative to make a home visit to ensure suitability of the home.  This will be carried about at a mutually agreed time prior to commencement of fostering.</p>
  
<p>I am prepared to accept LSAH's decision about euthanizing and animal on humane grounds.</p>

<p>I agree for a police check to be done.</p>
    
<p><strong>By clicking on 'I accept' below you are agreeing to the Terms and Conditions above.</strong></p>