/* Admin page styles */
/* utilities links */
#header {position: relative;}
#header ul{ position: absolute; top: -25px; right: 20px;}
#header li {list-style: none; display: inline;}

#admin_nav {margin: 20px; overflow: hidden; border-bottom: 1px solid #CCC9C6; border-top: 1px solid #CCC9C6;   background: #F9F7F7;}
#admin_nav ul {list-style: none;}
#admin_nav li a {display: block; float: left; color: #524A41; text-decoration: none; padding: 6px 8px; font-weight: normal; margin: 0 3px 0 0; line-height: 1;}
#admin_nav li a.current, #admin_nav li a:hover {border-bottom: 3px solid; padding-bottom: 3px;}

body#dashboard li.dashboard a, body#animals li.animals a, body#carers li.carers a, body#signups li.signups a, body#home_checks li.home_checks a {
	background-color: #DDDDF6;
}

/* a carer's show view */
dl {overflow: hidden; margin-bottom: 20px;}
dt {display: block; float: left; width: 200px; clear: left; margin-bottom: 10px;}
dd {display: block; float: left; clear: right;}

table.listing {
	border-top: 2px solid #70655A;
}


/* New home check page styles */
body#new_home_check_page div.row.clear { clear: left; }
body#new_home_check_page div#home_checks { width: 400px; float: right; }
body#new_home_check_page div#home_checks table { width: 400px; }

/* Dashboard page */
#quick_links {float:right; width: 30%;}
#quick_links h2 {color: #524A41;}
#quick_links ul {list-style: none;}
#quick_links ul li {margin-bottom: 8px;}
#searching {width: 60%; margin-bottom: 30px;}
#searching label {width: 145px;}
div.recent {margin-bottom:60px;}
p.see_all {text-align: right; margin-top: 10px;}

div.animal img {float: right; border: 1px solid #EFEDED; padding: 3px;}
div.carer img {float: right; border: 1px solid #EFEDED; padding: 3px;}
div.details {}

/* Carer's application edit form */
div.edit_signup label {width: auto; display: block;}
div.edit_signup .interview label {display: inline;}
div.edit_signup textarea {width: 440px;}

/* Displaying objects Facebook style */
.object_listing { 
	display:block;
}

.object_listing .image {	
	float:left;
	height:50px;
	overflow:hidden;
	position:relative;
	width:50px;
}
.object_listing .metadata {
	float:left;
	overflow:hidden;
	padding-left:10px;
	padding-top:12px;
	white-space:nowrap;
}

.object_listing .metadata a {
	font-size: 15px;
	font-weight: bold;
}

.object_listing .metadata {
	float:left;
	overflow:hidden;
	padding-left:10px;
	padding-top:12px;
	white-space:nowrap;
}

.object_listing .metadata a { 
	text-decoration: none;
	color: #3B5998; 
}

.object_listing .metadata a.hover {
	text-decoration: underline;
}

.object_listing .metadata_subtitle {
	font-size: 12px;
}

/* =New signup form */
#new_carer label { display: block; width: auto; }
#new_carer fieldset {width: 760px;}