%h1
  Editing carer
- form_for(@carer, :url => admin_carer_interview_path(@carer)) do |f|
  -#= f.error_messages
  = render :partial => 'admin/interviews/interview', :locals => {:f => f}
  = render :partial => 'admin/carers/carer', :locals => {:f => f}
  = f.submit "Update"