<p>
  <b>Name:</b>
  <%=h @capability.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @capability.description %>
</p>

<%= link_to 'Edit', edit_admin_capability_path(@capability) %> |
<%= link_to 'Back', admin_capabilities_path %>