<div style="width: 85%;">
<p>Fun4paws is primarily a dog walking, pet sitting and behaviour training service that has put together a foster care package in response to the current bush fire crisis.</p>

<p>Thank you so much for your emails offering foster care for the domestic pet survivors of the Victorian bush fires. You should be as encouraged as we have been at the generosity and compassion shown by the Victorian community.</p>

<p>Our apologies for the delay in our response however we have received well over 10,000 emails which presented some problems for our service provider. Some Ruby programmers have kindly donated their professional services to assist us in our communication systems. This will allow us to be more effective in meeting the needs of the pets in need. (It also means that we can best match carers to the animals to ensure a positive experience for all.)</p>  

<p>The pets coming out of the fire-affected areas are undeniably traumatised, as are their families. The longevity of this service is an unknown factor and we look forward to your ongoing support.</p>

<p>To assist us in matching the domestic pets in need to the best-suited foster carers, please continue on to the following questionnaire.</p>

<h2><a href="/volunteers/new">Questionnaire for foster carers</a></h2>

<p>If you wish to follow our progress or make a cash donation please visit <%= link_to 'www.fun4paws.com.au', 'http://www.fun4paws.com.au/' %>.</p>

We are committed for the long term to supporting not only the pets in need but also the foster carers. 

<p>With sincere thanks,</p>

<p>Luke Williams, Lynne Fitzsimmons & the team at Fun4Paws</p>

<a href="mailto:contact@fun4paws.com.au">contact@fun4paws.com.au</a>


</div>