%h1= "Listing volunteers (#{@volunteers.size} in total)"

/ = link_to 'download csv file', '/admin/volunteers.csv'
/ = link_to 'view all on map', '/volunteers/map'
= link_to 'New volunteer', new_admin_volunteer_path
