<h1>Schedule a Home Check</h1>

<% form_for(@home_check, :url => [:admin, @carer, :home_check]) do |f| %>
  <%= f.error_messages %>
  
  
  <div class="row clear">
    <%= f.label :scheduled_at %>
    <%= f.datetime_select :scheduled_at %>
  </div>
  
  <div class="row clear">
    <%= f.submit "Schedule" %>
  </div>
<% end %>
